body {
  background-image: url('./images/background.png');
  background-size: cover;
  color: aliceblue;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: ;
  text-align: center;
}

main {
  display: flex;
  /* text-align: center; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
